body {

  margin: 0;
  font-family: 'Roboto Slab', serif;

  }

/****************   Nav Section **********************/
nav {
	
  background-color: #222;
  color:#ad0023;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
nav a {
  color: #ad0023;
  text-decoration: none;
}

/***********************  Footer Section   **************************/
footer {

  background-color: #222;
  color: #ad0023;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #ad0023;
  text-decoration: none;
}



/*********** Splash Page ************************/
header {

  text-align: center;
  padding: 32px;
  background-color: #dfdfdf;

}

header h1 {

  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #222;
  
}

header img {

  border-radius: 50%;
  border: 3px solid #222;
  margin: 16px 0;

}

.address {

  font-weight: bold;
 
}

.tagline {

  color: #454545;
  max-width: 600px;
  margin: auto;
  
}

/************* Sections ********************/
hr {

  border: none;
  height: 1px;
  background-color: #d8d7d7; 
  margin: 24px 16px;
  

}

section h3 {

  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #7a0019;

}

section dl {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

}

section ul {

  list-style-type: square;

}

section a {

  color: #7a0019;
  text-decoration: none;

}

section a:hover {

  text-decoration: underline;

}


/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color:#dfdfdf;
  padding: 20px;
  border-radius: 12px;

}

.card h3 {
  margin-bottom: 16px;
  color: #7a0019;
}

.card img {
  max-width: 90px;
  margin-bottom: 12px;
}

.card ul {
  padding-left: 20px;
  margin: 0;
  text-align: left;
  width: 100%;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      gap: 10px;
    }

    .three-col {
      grid-template-columns: 1fr;
      justify-items: center;
    }
}

/**************   Contact Page   *****************/
.one-col {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  width: 100%;
  font-family: inherit;
}

textarea {
  padding: 10px;
  width: 100%;
  font-family: inherit;
}

.contact-header {
  text-align: center;
  margin-top: 32px;
}